* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
    color: var(--txt1);
	list-style: none;
}

:root {
    font-size: 10px;
    /* background colours */
	--bg1: #0a0a23;
	--bg2: #1b1b32;
	--bg3: #2a2a40;
	--bg4: #3b3b4f;
	/* text and main highlight colour */
	--txt1: #ffffff;
	--txt2: #f5f6f7;
	--txt3: #dfdfe2;
	--txt4: #d0d0d5;
	/* accent colour */
	--purple: #dbb8ff;
	--darkpurple: #5a01a7;
	--yellow: #f1be32;
	--darkyellow: #4d3800;
	--blue: #99c9ff;
	--darkblue: #002ead;
	--green: #acd157;
	--darkgreen: #00471b;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg1);
	overflow-y: hidden;
}

/* Standard sizing */
h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

li {
	font-size: 2rem;
}

/* nav bar */

#navbar {
	position: sticky;
	top: 0;
}

#navbar ul {
	display: flex;
	flex-direction: row;
}

#navbar ul li {
	flex: 1;
	text-align: center;
}

main {
	scroll-snap-type: y mandatory;
	height: 100vh;
	overflow-y: scroll;
}

/* these scrollbar features may not be fully supported yet */
main::-webkit-scrollbar {
	width: 0.5rem;
}

main::-webkit-scrollbar-track {
	background: var(--bg2);
}

main::-webkit-scrollbar-thumb {
	background: var(--darkpurple);
}

/* Content section boxes */

section {
	outline: 1px dashed red;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	height: 100vh;
	padding: 5rem 10rem;
}

section * {
	outline: 1px dashed yellow;
}