/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: Arial, sans-serif; */
    /* background-color: #d0d0d5; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    max-width: 300px;
    background-color: var(--dark3);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 
        0 0 0 1px #000,
        inset 0 1px 1px rgba(255,255,255,.1),
        0 30px 30px rgba(0,0,0,.07),
        0 15px 15px rgba(0,0,0,.06),
        0 10px 8px rgba(0,0,0,.05),
        0 4px 4px rgba(0,0,0,.04),
        0 2px 2px rgba(0,0,0,.03);
    border-radius: 5px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 
        0 0 0 1px #000,
        inset 0 1px 1px rgba(255,255,255,.1),
        0px 20px 48px 5px rgba(132,237,193,0.4);
}

/* .card::after
 {
    content: "";
    position: absolute;
    inset: -1px;
    transform: translate(1px, 1px);
    z-index: -1;
    background: linear-gradient(180deg, rgba(120, 117, 255, 0.1) 0%, #84edc1 88.02%);
    filter: blur(24px);
    opacity: 0.1;
} */

.card-header {
    overflow: hidden;
    width: 80%;
    padding-top: 10%;
    /* display: flex; */
    /* justify-content: center; */
}

.card-header img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
}

/* card hover colour */

/* linear-gradient(180deg, rgba(120, 117, 255, 0.1) 0%, #84edc1 88.02%) */
/* blur 24px */