* {
	margin: 0;
	padding: 0;
	text-decoration: 0;
	box-sizing: border-box;
	/* color: var(--light1); */
}

:root {
	font-size: 10px;
	/* background colours */
	--dark1: #0a0a23;
	--dark2: #1b1b32;
	--dark3: #2a2a40;
	--dark4: #3b3b4f;
	--dark50: #777785;
	/* text and main highlight colour */
	--light1: #ffffff;
	--light2: #f5f6f7;
	--light3: #dfdfe2;
	--light4: #d0d0d5;
	/* accent colour */
	--purple: #dbb8ff;
	--darkpurple: #5a01a7;
	--yellow: #f1be32;
	--darkyellow: #4d3800;
	--blue: #99c9ff;
	--darkblue: #002ead;
	--green: #acd157;
	--darkgreen: #00471b;
	/* hover and animation */
	--hover-glow: rgba(132, 237, 193, 0.4);
	/* standards */
	--border-radius: 5px;
}

html {
	scroll-behavior: smooth;
	color: var(--light1);
}

body {
	background-color: var(--dark1);
	overflow-y: hidden;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Standardise */
h1 {
	font-size: 10rem;
	font-family: Roboto Mono;
}

h2 {
	font-size: 4rem;
	font-family: Roboto Mono;
}

h3 {
	font-size: 2rem;
	font-family: Lato;
	color: var(--dark50);
}

p {
	font-size: 2.7rem;
	font-family: Lato;
	margin-bottom: 1rem;
	text-justify: distribute;
}

a {
	text-decoration: none;
	color: inherit;
	font-family: Roboto Mono;
}

main {
	scroll-snap-type: y mandatory;
	height: 100vh;
	overflow-y: scroll;
}

/* these scrollbar features may not be fully supported yet */
main::-webkit-scrollbar {
	width: 0.5rem;
}

main::-webkit-scrollbar-track {
	background: var(--dark2);
}

main::-webkit-scrollbar-thumb {
	background: var(--darkpurple);
}

/* Content section boxes */

section {
	/* outline: 1px dashed red; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	height: 100vh;
	height: 100dvh;
	padding: 5rem 30rem;
	overflow-x: hidden;
	background-color: var(--dark1);
}

section>* {
	/* outline: 1px dashed yellow; */
}

/* landing page */

#home {
	padding: 5rem 30rem;
	height: 100dvh;
	background-color: transparent;
}

#portrait {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50vw;
	height: 100%;
	background:
		linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--dark1) 100%),
		linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, var(--dark1) 100%),
		url(../assets/portrait2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
}

#icon-tile-box {
	margin-top: 1rem;
	display: flex;
	width: 45%;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 2rem;
}

.icon-tile {
	background-color: var(--dark4);
	padding: 1rem;
	width: 25%;
	max-width: 10rem;
	min-width: 7rem;
	max-height: 10rem;
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius);
	box-shadow: 0 0 0 1px #000,
		inset 0 1px 1px rgba(255, 255, 255, .1),
		0 30px 30px rgba(0, 0, 0, .07),
		0 15px 15px rgba(0, 0, 0, .06),
		0 10px 8px rgba(0, 0, 0, .05),
		0 4px 4px rgba(0, 0, 0, .04),
		0 2px 2px rgba(0, 0, 0, .03);
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.icon-tile:hover {
	transform: translateY(-5px);
	box-shadow:
		0 0 0 1px #000,
		inset 0 1px 1px rgba(255, 255, 255, .1),
		0px 20px 48px 5px var(--hover-glow);
}

.icon-tile img {
	max-width: 80%;
	max-height: 80%;
}

/* Project cards */

.project-card-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3.5rem;
	max-width: 140rem;
}

.card {
    /* width: 30rem; */
    max-width: 30rem;
    /* min-width: 25rem; */
    background-color: var(--dark3);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    /* justify-content: center; */
    /* align-content: center; */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 
        0 0 0 1px #000,
        inset 0 1px 1px rgba(255,255,255,.1),
        0 30px 30px rgba(0,0,0,.07),
        0 15px 15px rgba(0,0,0,.06),
        0 10px 8px rgba(0,0,0,.05),
        0 4px 4px rgba(0,0,0,.04),
        0 2px 2px rgba(0,0,0,.03);
    border-radius: var(--border-radius);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 
        0 0 0 1px #000,
        inset 0 1px 1px rgba(255,255,255,.1),
        0px 20px 48px 5px rgba(132,237,193,0.4);
}

.card-header {
    overflow: hidden;
    width: 80%;
    padding-top: 10%;
    /* display: flex; */
    /* justify-content: center; */
}

.card-header img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 2rem;
}

.card-title {
    font-size: 2.4rem;
    /* margin-bottom: 10px; */
}

.card-text {
    font-size: 2rem;
    color: #777;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
}

/* smaller screens */

@media (max-width: 1500px) {

	:root {
		font-size: 9px;
	}

	p {
		margin-bottom: 1rem;
	}

	section {
		padding-right: 20rem;
	}
}

@media (max-width: 1100px) {
	:root {
		font-size: 8px;
	}

	section {
		padding-right: 10rem;
	}
}

/* phones */

@media (max-width: 480px) {

	:root {
		font-size:5px;
	}

	h1 {
		font-size: 8rem;
	}

	h2 {
		font-size: 4rem;
	}

	h3 {
		font-size: 3rem;
		margin-bottom: 1rem;
	}

	p {
		font-size: 3rem;
		margin-bottom: 1rem;
	}

	nav {
		display: none;
	}

	main {
		scroll-snap-type: proximity;
	}

	section {
		align-items: flex-start;
		height: fit-content;
		min-height: 100vh;
		min-height: 100dvh;
		padding: 30rem 2rem;
	}

	#home {
		padding: 2rem;
		justify-content: flex-end;
	}

	#portrait {
		position: absolute;
		top: -15%;
		width: 50vw;
		height: 100%;
		background:
			linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--dark1) 100%),
			url(../assets/portrait2.jpg);
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		/* transform: translateY(-60%); */
		z-index: -1;
		left: 0;
		width: 100vw;
		opacity: 1;
	}

	#icon-tile-box {
		width: 100%;
	}

	#projects {
		padding: 2rem;
	}

	.project-card-box {
		gap: 2rem;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.card {
		max-width: 140px;
	}

	.card-body {
		padding: 1.5rem;
	}
}