* {
	margin: 0;
	padding: 0;
	text-decoration: 0;
	box-sizing: border-box;
	/* color: var(--light1); */
}

:root {
	font-size: 10px;
	/* background colours */
	--dark1: #0a0a23;
	--dark2: #1b1b32;
	--dark3: #2a2a40;
	--dark4: #3b3b4f;
	--dark50: #777785;
	/* text and main highlight colour */
	--light1: #ffffff;
	--light2: #f5f6f7;
	--light3: #dfdfe2;
	--light4: #d0d0d5;
	/* accent colour */
	--purple: #dbb8ff;
	--darkpurple: #5a01a7;
	--yellow: #f1be32;
	--darkyellow: #4d3800;
	--blue: #99c9ff;
	--darkblue: #002ead;
	--green: #acd157;
	--darkgreen: #00471b;
	/* hover and animation */
	--hover-glow: rgba(132, 237, 193, 0.4);
	/* standards */
	--border-radius: 5px;
}

html {
	scroll-behavior: smooth;
	color: var(--light1);
}

body {
	background-color: var(--dark1);
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* Standardise */
h1 {
	font-size: 10rem;
	font-family: Roboto Mono;
}

h2 {
	font-size: 4rem;
	font-family: Roboto Mono;
}

h3 {
	font-size: 2rem;
	font-family: Lato;
	color: var(--dark50);
}

p {
	font-size: 2.7rem;
	font-family: Lato;
	margin-bottom: 1rem;
	text-justify: distribute;
}

a {
	text-decoration: none;
	color: inherit;
	font-family: Roboto Mono;
}

main {
	scroll-snap-type: y mandatory;
	height: 100vh;
	overflow-y: scroll;
}

/* these scrollbar features may not be fully supported yet */
main::-webkit-scrollbar {
	width: 0.5rem;
}

main::-webkit-scrollbar-track {
	background: var(--dark2);
}

main::-webkit-scrollbar-thumb {
	background: var(--darkpurple);
}

/* Content section boxes */

section {
	position: relative;
	/* outline: 1px dashed red; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	height: 100vh;
	height: 100dvh;
	padding: 5rem 30rem;
	overflow-x: hidden;
}

section>* {
	/* outline: 1px dashed yellow; */
}

/* landing page */

#home {
	padding: 5rem 30rem;
	height: 100dvh;
	background-color: transparent;
}

#portrait {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50vw;
	height: 100%;
	background:
		linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--dark1) 100%),
		linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, var(--dark1) 100%),
		url(../assets/portrait2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
}

#icon-tile-box {
	margin-top: 1rem;
	display: flex;
	width: 45%;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 2rem;
}

.icon-tile {
	background-color: var(--dark4);
	padding: 1rem;
	width: 25%;
	max-width: 10rem;
	min-width: 7rem;
	max-height: 10rem;
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius);
	box-shadow: 0 0 0 1px #000,
		inset 0 1px 1px rgba(255, 255, 255, .1),
		0 30px 30px rgba(0, 0, 0, .07),
		0 15px 15px rgba(0, 0, 0, .06),
		0 10px 8px rgba(0, 0, 0, .05),
		0 4px 4px rgba(0, 0, 0, .04),
		0 2px 2px rgba(0, 0, 0, .03);
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.icon-tile:hover {
	transform: translateY(-5px);
	box-shadow:
		0 0 0 1px #000,
		inset 0 1px 1px rgba(255, 255, 255, .1),
		0px 20px 48px 5px var(--hover-glow);
}

.icon-tile img {
	max-width: 80%;
	max-height: 80%;
}

/* Project cards */

#projects {
	padding-right: 1rem;
}

.scroller {
	max-width: 100%;
}

.project-card-box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 2rem;
	/* max-width: 140rem; */
	/* max-width: ; */
	max-height: 90vh;
	padding-block: 10rem;
}

.scroller[scroll-animate=true] {
	overflow: hidden;
	-webkit-mask: linear-gradient(
		90deg,
		transparent,
		white 20%,
		white 80%,
		transparent);
	mask: linear-gradient(
		90deg,
		transparent,
		white 20%,
		white 80%,
		transparent
	);
}

[scroll-animate=true] .project-card-box {
	width: max-content;
	flex-wrap: nowrap;
	animation: infinite-scroll 40s linear infinite;
}

@keyframes infinite-scroll {
	to {
		transform: translate(calc(-50% - 1rem));
	}
}

.card {
	position: relative;
	max-width: 30rem;
	height: 45rem;
	flex-shrink: 0;
	background-color: var(--dark3);
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	box-shadow:
		0 0 0 1px #000,
		inset 0 1px 1px rgba(255, 255, 255, .1),
		0 30px 30px rgba(0, 0, 0, .07),
		0 15px 15px rgba(0, 0, 0, .06),
		0 10px 8px rgba(0, 0, 0, .05),
		0 4px 4px rgba(0, 0, 0, .04),
		0 2px 2px rgba(0, 0, 0, .03);
	border-radius: var(--border-radius);
}

.card:hover {
	transform: translateY(-5px);
	box-shadow:
		0 0 0 1px #000,
		inset 0 1px 1px rgba(255, 255, 255, .1),
		0px 20px 48px 5px rgba(132, 237, 193, 0.4);
}

.card-header {
	display: flex;
	justify-content: center;
	overflow: hidden;
	align-self: center;
	margin: 1rem 0 1rem;
}

.card-header img {
	width: 80%;
	height: auto;
	align-self: center;

}

.card-body {
	padding: 0 2rem;
}

.card-title {
	font-size: 2.4rem;
}

.card-text {
	font-size: 1.5rem;
	color: var(--dark50);
}

.button-box {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 0.5rem;
	padding: 0 2rem;
	margin-bottom: 2rem;
	height: 4rem;
}

.btn {
	max-height: 4rem;
	padding: 1rem 2rem;
	background-color: var(--darkgreen);
	color: var(--light4);
	font-size: 1.5rem;
	text-decoration: none;
	border-radius: var(--border-radius);
	transition: 0.3s ease-in-out;
	
	:hover {
		background-color: var(--green);
		color: var(--dark1);
	}
}

/* contact grid */

.contact-grid {
	display: grid;
	/* grid: auto-flow; */
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	gap: 2rem 2rem;
	height: 60vw;
	max-height: 70vh;

	.grid-item {
		/* outline: 1px red dashed; */
		position: relative;
		background-color: var(--dark3);
		border-radius: var(--border-radius);
		box-shadow: var(--border-radius);
		overflow: hidden;
		height: 1fr;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		p {
			margin-left: 1rem;
		}
		
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			/* max-height: 100%; */
		}
		
		#grid-portrait {
			width: 140%;
			height: auto;
			object-fit: fill;
		}

		#github-icon {
			width: auto;
			height: 50%;
			object-fit: contain;
		}

		#linkedin {
			width: 40%;
			height: auto;
			object-fit: contain;
		}
	}

	.grid-item:nth-of-type(2), .grid-item:nth-of-type(6) {
		grid-column: 2 / 5;
	}

	.grid-item:nth-of-type(3) {
		grid-column: 1 / 4;
	}
}

.flex {
	display: flex;
}


/* smaller screens */

@media (max-width: 1500px) {

	:root {
		font-size: 9px;
	}

	p {
		margin-bottom: 1rem;
	}

	section {
		padding-right: 20rem;
	}

	.project-card-box {
		gap: 2rem;
	}

	.card {
		/* height: 42rem; */
	}

	.scroller[scroll-animate=true] {
		overflow: hidden;
		-webkit-mask: linear-gradient(
			90deg,
			transparent,
			white 10%,
			white 90%,
			transparent);
		mask: linear-gradient(
			90deg,
			transparent,
			white 10%,
			white 90%,
			transparent
		);
	}
}

@media (max-width: 1100px) {
	:root {
		font-size: 8px;
	}

	section {
		padding-right: 10rem;
	}
}

/* phones */

@media (max-width: 480px) {

	:root {
		font-size: 5px;
	}

	h1 {
		font-size: 8rem;
	}

	h2 {
		font-size: 4rem;
	}

	h3 {
		font-size: 3rem;
		margin-bottom: 1rem;
	}

	p {
		font-size: 3rem;
		margin-bottom: 1rem;
	}

	nav {
		display: none;
	}

	main {
		scroll-snap-type: proximity;
	}

	section {
		align-items: flex-start;
		height: fit-content;
		min-height: 100vh;
		min-height: 100dvh;
		padding: 2rem;
	}

	#home {
		padding: 2rem;
		justify-content: flex-end;
	}

	#portrait {
		position: absolute;
		top: -15%;
		width: 50vw;
		height: 100%;
		background:
			linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--dark1) 100%),
			url(../assets/portrait2.jpg);
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		/* transform: translateY(-60%); */
		z-index: -1;
		left: 0;
		width: 100vw;
		opacity: 1;
	}

	#icon-tile-box {
		width: 100%;
	}

	#projects {
		padding: 2rem;
	}

	.project-card-box {
		gap: 2rem;
		justify-content: space-evenly;
	}

	.card {
		max-width: 140px;
	}

	.card-body {
		padding: 1.5rem;
	}
}